* {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    sans-serif;
  box-sizing: border-box;
}

body {
  background-color: black;
  object-fit: cover;
}

p {
  color: white;
  font-size: 20px;
}

.P {
  color: #fa3267;
}

.Logo {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
}

.navigatie {
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #fa3267;
  transition: 0.4s;
}

a {
  text-decoration: none;
}

.headers {
  margin-bottom: 30px;
}

.container1 {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  width: 100%;
  height: 100%;
}

.left {
  display: block;
  width: 45%;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fa3267;
  width: 45%;
  border-radius: 30px;
}

.info {
  background-color: #fa3267;
  padding: 30px;
  border-radius: 30px;
  text-align: center;
}

.diploma {
  background-color: #fa3267;
  padding: 30px;
  margin-top: 50px;
  border-radius: 30px;
  text-align: center;
}

img {
  width: 50%;
  height: 75%;
  border-radius: 500px;
}

.container2 {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  width: 100%;
  height: 100%;
}

.work {
  background-color: #fa3267;
  width: 55%;
  padding: 30px;
  border-radius: 30px;
  text-align: center;
}

.skills {
  background-color: #fa3267;
  width: 35%;
  padding: 30px;
  border-radius: 30px;
  text-align: center;
}

table {
  color: white;
  display: inline-block;
  border-collapse: collapse;
}

table tr td {
  text-align: left;
  padding-left: 10px;
  width: 250px;
  height: 80px;
}

tr:nth-child(odd) {
  background-color: black;
}
