body {
  background-image: url(img/pexels-stephan-seeber-1054218.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

p {
  font-size: 15px;
  font-family: 'Roboto', sans-serif !important;
}

h1, h2 ,h3, h4, h5, h6 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif !important;
}

a {
  font-size: 15px;
}

.right hr {
  color: lightseagreen;
}

.left hr {
  color: white;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  background-color: white;
  margin: 10px 100px 25px 100px;
  height: 100%;
}

footer a {
  text-decoration: none;
  color: black;
  padding: 15px;
}

footer p {
  margin: 0;
  padding: 15px;
}

nav {
  border: solid lightgray 2px;
  background-color: white;
  margin-top: 25px;
  margin-left: 100px;
  margin-right: 100px;
  height: 100%;
}

.menu ul {
  display: flex;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.menu ul li {
  list-style-type: none;
  padding: 25px;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.menu ul li:hover {
  background-color: lightseagreen;
  transition: 0.5s;
  color: white;
}

.information {
  display: flex;
  border: solid lightgray 2px;
  background-color: white;
  margin: 25px 100px 50px;
  height: 100%;
}

.left {
  display: flex;
  align-content: center;
  flex-flow: column wrap;
  background-color: lightseagreen;
  width: 30%;
  height: 100%;
  padding-bottom: 30px;
  padding: 25px;
}

.profilepicture {
  margin-top: 50px;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.profilepicture a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profilepicture:hover {
  box-shadow: black 15px 15px 25px;
  transition: 0.4s;
}

.profilepicture:active {
  border: solid lightblue 2px;
  box-shadow: none;
}

.info a {
  text-decoration: none;
  color: black;
}

.info a:hover {
  box-shadow: black 10px 10px 25px;
  transition: 0.4s;
}

.right {
  display: flex;
  flex-flow: column wrap;
  padding-left: 25px;
  padding-right: 25px;
  width: 70%;
  height: 100%;
}

table {
  background-color: lightsewhiteagreen;
  display: inline-block;
  border-collapse: collapse;
}

table tr td {
  text-align: left;
  padding-left: 10px;
  height: 80px;
}

tr:nth-child(odd) {
  background-color: lightseagreen;
}

.hidden {
  display: none;
  visibility: hidden;
}

.hardskills p {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.C {
  text-align: center;
  border: solid lightgray 2px;
  background: linear-gradient(
    to right,
    lightseagreen 0%,
    lightseagreen 50%,
    white 50%,
    white 100%
  );
  border-radius: 15px;
  width: 100%;
  height: 20px;
}

.SQL {
  text-align: center;
  border: solid lightgray 2px;
  background: linear-gradient(
    to right,
    lightseagreen 0%,
    lightseagreen 35%,
    white 35%,
    white 100%
  );
  border-radius: 15px;
  width: 100%;
  height: 20px;
}

.HTML {
  text-align: center;
  border: solid lightgray 2px;
  background: linear-gradient(
    to right,
    lightseagreen 0%,
    lightseagreen 75%,
    white 75%,
    white 100%
  );
  border-radius: 15px;
  width: 100%;
  height: 20px;
}

.CSS {
  text-align: center;
  border: solid lightgray 2px;
  background: linear-gradient(
    to right,
    lightseagreen 0%,
    lightseagreen 75%,
    white 75%,
    white 100%
  );
  border-radius: 15px;
  width: 100%;
  height: 20px;
}

@media screen and (max-width: 1000px) {
  nav {
    margin: 0;
  }

  .information {
    margin: 25px 0px 0px 0px;
  }

  footer {
    margin: 25px 0px 0px 0px;
  }
}

@media screen and (max-width: 800px) {
  .information {
    display: block;
    margin-top: 25px;
    padding-bottom: 25px;
  }

  .left {
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .right {
    width: 100%;
  }

  footer {
    margin-top: 25px;
  }

  .profilepicture {
    margin-top: 50px;
    border-radius: 50%px;
    width: 250px;
    height: 250px;
  }

  .profilepicture a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .profilepicture:hover {
    box-shadow: black 15px 15px 25px;
    transition: 0.4s;
  }

  .profilepicture:active {
    border: solid lightblue 2px;
    box-shadow: none;
  }

  .right {
    padding: 0;
    text-align: center;
  }

  hr {
    width: 80%;
  }

  table {
    visibility: hidden;
    display: none;
  }

  .hidden {
    visibility: visible;
    display: block;
  }
}