body {
  background-image: url(img/pexels-stephan-seeber-1054218.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

nav {
  border: solid lightgray 2px;
  background-color: white;
  margin-top: 25px;
  margin-left: 100px;
  margin-right: 100px;
  height: 100%;
}

p {
  font-size: 17.5px;
  font-family: 'Roboto', sans-serif !important;
}

h1, h2 {
  color: lightseagreen;
  font-family: 'Montserrat', sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  background-color: white;
  margin: 10px 100px 25px 100px;
  height: 100%;
}

footer a {
  text-decoration: none;
  color: black;
  padding: 15px;
}

footer p {
  margin: 0;
  padding: 15px;
}

.menu ul {
  display: flex;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.menu ul li {
  list-style-type: none;
  padding: 25px;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.menu ul li:hover {
  background-color: lightseagreen;
  transition: 0.5s;
  color: white;
}

.information {
  display: flex;
  flex-flow: column wrap;
  border: solid lightgray 2px;
  background-color: white;
  margin: 25px 100px 50px;
  height: 100%;
  padding: 25px;
}

.image {
  width: 100%;
}

.left {
  width: 100%;
}

.assignments {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column wrap;
}

.assignmentleft img {
  width: 50%;
  height: 500px;
  object-fit: contain;
  border: 1px solid lightseagreen;
}

.assignmentright img {
  width: 40%;
  height: 500px;
  object-fit: contain;
  border: 1px solid lightseagreen;
}


@media screen and (max-width:800px) {
  nav {
    margin: 0;
  }

  .information {
    margin: 25px 0px 0px 0px;
  }

  footer {
    margin: 25px 0px 0px 0px;
  }

  .assignmentleft img {
    width: 100%;
    height: 500px;
    object-fit: contain;
  }
  
  .assignmentright img {
    width: 100%;
    height: 500px;
    object-fit: contain;
  }

}